header {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	top: 0;
	height: 140px;
	background: #ffffff;
	}
.head {
	background-color: #bbcbdb;
	}
body {
	width: 100%;
	padding:140px 0 50px 0;
	}
footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 50px;
	background: #ffffff;
	text-align: center;
	}
.box {
	margin: auto;
	text-align: left;
	padding: 0 20 0 20;
	width: 360px;
	border: 1px solid black;
	}
h1.impact {
	text-align: center;
	font-family: "impact", charcoal, sans-serif;
	}
.bg-home{
	background-color: #f1e8ca;
	padding: 50 50 50 50;
	}
.bg-menu {
	background-color: #dd855c;
	padding: 50 50 50 50;
	}
.bg-contact {
	background-color: #9ebd9e;
	padding: 50 50 50 50;
	}
.bg-menu th, h4 {
	text-decoration: underline;
	}
.bg-menu table, th, td, tr, h4, p {
	align: center;
	text-align: center;
	}
a {
	color: black;}
a:link {}
a:visited {
	color: #745151;
	}
a:hover {
	color: black;
	font-weight: bold;}
a:active {
	text-decoration: none;
	}
.bev1 {
	text-align: left;
	}
.bev2 {
	text-align: right;
	}
.form-group {
	max-width: 720px;
	align: center;
	}
.carousel {
	text-align: center;
	width: 70%;
	}