table, th, caption {
	border-collapse: collapse;
	text-align: center;
	text-weight: bold;
	text-color: black;
	}
td {
	font-style: italic;
	}
h1, h2, ul {
	margin: 0px
	}
h4 {
	margin: 5px;
	}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 800;
	src: url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
	}
div.robo {
	font-family: 'Roboto Condensed', sans-serif;
	}
div.cover {
	background-image: url();
	background-size: 398px 289px;
	width: 398px;
	height: 289px;
	}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f7f7f7;
	}
.table-hover tbody tr:hover {
	background-color: rgba(255,215,0,0.5);
	}
a {
	text-decoration: none;
	}
a:link {}
a:visited {}
a:hover {
	text-decoration: underline;
	background-color: rgba(255,215,0,0.8);
	}
a:active {}