.form-control {
	max-width: 100px;
	}
.box, input {
	margin: auto;
	text-align: center;
	padding: 0 20 0 20;
	width: 400px;
	}
#play {
	height: 50px;
	width: 100px;
	}
#results {
	background: #f0f0f0;
	padding: 0 10 10 10;
	}
th {
	background: #c5c5c5;
	}
table, td, th {
	margin: auto;
	border-collapse: collapse;
	border: 1px solid white;
	}